<ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <!-- <div class="sidebar-brand-icon rotate-n-15">
            <i><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAACh0lEQVR4nO2aO2gUURSGvyRoDAoBbRRUFDQEgogQtdCgCAoKIqQRmyBCMBaCCimCILKFKIoi+MAHNkEstDAoJGClCIbYRbOIhQERo2KlaBLdZeTKGRgWdjL3zs7OmTA/3GKXOY9v7j1zHzOQK5fRBqAATEgryH+ZUAdwFigCXpX2AbgKbCeDyauF6oiRvJc2VBLJe/WGGqlD8l6VNlxLEC/lVjPlIOQ9Qt2G1tQcNssdxrqXRo1kEmQZ0A7sB+4A01kFqdQq4AEZAFkCHAOeApPALPAFeAhsCVy3GrgFlDXOI/uAzyFOTdL9csd9HUwYxlq7gT8Rnf+V9VCT2N7QAtIIvHEIcibEZyo10uV4t34ALZpA+mN0fZcmkGsxQLo1gVyPAdIjPo5rKPZLMQLtER+nNYD0xgi0Xnzc1QCy0zHId6BBU42cdwT5CSzWBPJ8vjx+b8YA2aEJZKOsn2whPgLN4mNUQ7EbnbIMMANs/m8JmxKC8HDQAuCrRYAhsVsEjGsCMTphEWAX4UqlRoLL+ccRIMz+A80g/hALg3gvwOpBjJ5VcWp2kFeIJhUgRp3APeCT7B7PyQlKUEuBk8A7bcW+FbgMtIVcswa4WDGjN8jv+0ApLZBm4FDFMsUk80ROVXztlUducOJ8CRyRIyRf7XJ0VDeQlcAF4FuIEwO0Tlppjr37bXmz5atbFpWJgSyU18XTER0NSItybVmOVVsl1jbgdxIgrcALCydmGK2VIp+xsCtKjxv1JQEyZOnEX4YYDVravpbeb5SPBlwgXlU7SbR1dDhgf8DB/igJaNAhkeBnFysc7MeSABl3SMQvWn+u+GVpPyvDq6Z6VINCm7K0fytrt1zzTv8A3mKwPgpLuHYAAAAASUVORK5CYII="></i>
        </div> -->
        <div class="sidebar-brand-text mx-3">SunGlasses</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="/admin/users">Users</a>
            </div>
        </div>
    </li>


   

    <li class="nav-item">
        <a class="nav-link" href="/admin/contact">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Contact Details</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/item">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Item</span></a>
    </li>
    
    <!-- Nav Item - Utilities Collapse Menu -->
    

    <!-- Divider -->
   

    <!-- Heading -->
   

    <!-- Nav Item - Pages Collapse Menu -->
    

    <!-- Nav Item - Charts -->
    

    <!-- Nav Item - Tables -->
   

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    

</ul>